#clumsy-form {
    h3 {
        font-size: 20px;
        color: #7F7F7F;
        margin: 0px;
    }

    .dropdown {
        float: left;
    }

    input {
        border: none;
        margin-right: 5px;
    }

    .badge {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #E07272;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 30px;
        border: 2px solid;
        background-color: transparent;
    }

    .clumsy-form-icon {
        float: left;
        margin: 0 10px;
        top: 0;
        height: 34px;
        width: 34px;
        overflow: hidden;
        vertical-align: top;
        border: 1px solid #CCC;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        cursor: pointer;
        color: #CCC;
        font-size: 15px;
        line-height: 28px;
        text-align: center;
    }

    .select-box-wrapper {
        border: 1px solid #CCC;
        border-radius: 5px;
        background-color: #FFF;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        display: table-cell;

        & .select-box-wrapper {
            display: block;
        }

        .select-box-header {
            padding: 5px 20px 5px 10px;
            background-color: #F3F3F3;
            border-radius: 5px 5px 0 0;

            input {
                background-color: #F3F3F3;
                font-size: 20px;
                line-height: 20px;
            }

            .badge {
                position: relative;
                top: -2px;
                margin-right: 10px;
            }
        }

        .select-box-body {
        }

        .select-box-footer {
            .add-option {
                display: block;
                padding: 5px 10px;
                font-size: 14px;
                color: #CCC;
                border-top: 1px #CCC dashed;
                border-radius: 0 0 5px 5px;
                cursor: pointer;

                &:hover{
                    border-top: 1px #bce8f1 dashed;
                    color: #31708f;
                    background-color: #d9edf7;
                }
            }
        }
    }

    & > .select-box-wrapper {
        display: table;
    }

    .select-option-wrapper {
        display: table;
        white-space: nowrap;
        width: 100%;

        padding: 20px 20px;
        border-top: 1px dashed #CCC;

        &:first-of-type {
            border: none;
        }

        .inputs-wrapper{
            display: inline-table;
            vertical-align: middle;
            border: 1px solid #CCC;
            border-radius: 5px;
            padding: 10px
        }

        .clumsy-form-option-icon {
            height: 34px;
            width: 34px;
            overflow: hidden;
            vertical-align: top;
            border: 1px solid #CCC;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            cursor: pointer;
            color: #CCC;
            font-size: 15px;
            line-height: 28px;
            text-align: center;
            display: inline-table;
            vertical-align: initial;
        }

        .line {
            width: 40px;
            height: 1px;
            background-color: #CCC;
            display: inline-flex;
            vertical-align: middle;
        }

        .children-box {
            display: inline-table;

            border: none;
            &.active {
                border: 1px solid #CCC;
                border-radius: 5px;
                padding: 20px;
            }
        }
    }

    .new-field-wrapper {
        margin-top: 25px;
    }
}